{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
      <div class="navigation-bar grid-item-row-1">
            <div class="navigation-bar-left">
                  <div>
                        <a href="/" class="active">Home</a>
                  </div>
            </div>
      </div>
      <div class="content-with-background-color grid-item-col-1-row-3">
            <p>REGISTRATION OF STUDENTS HERE</p>
            <p>DO YOU WANT TO GET YOUR NIN? APPLY HERE!
      </div>


      {% endblock%}